body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: src="images/background.jpg";
}

header, nav, main, footer {
    margin: 20px;
    padding: 10px 0;
}

header {
   
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
}
.navbar{
    background-color: transparent;}
nav {
    background-color: #eee;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #555;
}

main {
    padding: 20px;
}

footer {
    top: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Slides */
.slide {
    display: none;
}

/* Caption text */
.slideshow-caption {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}